/.vscode
/f.txt
/fizOsn
/gl.exe
/kurs
/lab6
/lab6_V
/lab6_V(v2)
/lab7
/OOP
/test
/test.cpp
/test.exe
/VS Code
/Архитектура Вычислительных Сиситем
/Дискретка
/для компиляцииGL.txt
/Краткая история исследований личности.pptx